QPushButton {
    background-color: #fefefe;
    color: #000;
    padding: 4px;
    margin: 3px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 16px;
}

QPushButton:hover {
    background-color: #ededed;
}

QPushButton:pressed {
    background-color: #dcdcdc;
}


    
QRadioButton {
    padding: 4px;
    margin: 3px;
    background-color: #fefefe;
    font-size: 16px;
}


    
QLabel {
    padding: 2px;
    margin: 5px;
    background-color: #fefefe;
    font-size: 16px;
}

QLabel#title {
    font-size: 20px;
    font-weight: bold;
}



QLineEdit {
    padding: 4px;
    margin: 3px;
    background-color: #fefefe;
    color: #000;
    border-bottom: 1px solid #000;
    border-radius: 3px;
    font-size: 16px;
}

QLineEdit:hover {
    border-bottom: 2px solid #000;
}

QLineEdit:focus {
    border-bottom: 2px solid #33F;
}